.choice-page-container {
    display: flex;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__map-details {
        background: url('../images/parking_blank.png') no-repeat center;
        max-width: 360px;
        width: 100%;
        height: 100%;
        max-height: 640px;
        position: relative;
    }

    .map-details {
        &__btn-place {
            color: #fff;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 700;
            background-color: #32B0E5;
            border: none;
            width: 35px;
            height: 35px;
            outline: none;
            box-sizing: border-box;
            padding: 5px;
            margin: 20px auto;
            font-size: 20px;
            position: absolute;
            left: 100px;
            border-radius: 50%;
            cursor: pointer;
        }

        .btn-place { //TODO!
            &--10 {
                top: -4px;
            }

            &--9 {
                top: 46px;
            }

            &--8 {
                top: 94px;
            }

            &--7 {
                top: 140px;
            }

            &--6 {
                top: 188px;
            }

            &--5 {
                top: 236px;
            }

            &--4 {
                top: 282px;
            }

            &--3 {
                top: 329px;
            }

            &--2 {
                top: 376px;
            }

            &--1 {
                top: 423px;
            }

            &--disabled {
                background-color: grey;
                cursor: auto;
            }
        }

        .car-element {
            background: url('../images/car_red.png') no-repeat center;
            height: 35px;
            border-radius: 0%;
            width: 85px;
            left: 85px;

            &:nth-child(2n) {
                background: url('../images/car_yellow.png') no-repeat center;
            }

            &:nth-child(3n) {
                background: url('../images/car_blue.png') no-repeat center;
            }
        }
    }
}